
.login-sec{
  border: 70px solid #a78627;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 180px 0 ;
  background-color: #a78627;
}
#login{
  background-color: #111433;
  width: 450px;
  height: 85vh;
  position: absolute;
  top: 305px;
}
.loginh1{
  margin: 78px 0px 65px 90px;
  border-bottom: 2px solid #a78627;
  width: 60%;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
.login-input{
  margin: 35px 0px 0px 90px;
  border-bottom: 2px solid #a78627;
  width: 63%;
}
input{
  border: none;
  outline: none;
  background: none;
  color: #ffffff;
  margin-left: 10px;
}
main i{
  color: #ffffff;
}
.login-btn{
  padding: 10px 125px;
  margin: 34px 81px;
  font-size: 20px;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: #a78627;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  width:300px;

}
.login-btn:hover{
  cursor: pointer;
}
.login-link{
  display: flex;
  justify-content: space-around;
}
.login-link{
  color: #ffffff;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.login-link:hover {
  color: #a78627;
}
.signup-link-para{
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0px 81px;
}
.signup-link{
  text-decoration: none;
  display: flex;
  color: #a78627;
  font-family: 'Montserrat', sans-serif;
}

/* Responsive Design for login & signp  */
@media only screen and (min-width: 300px) and (max-width: 400px){
  #login{
    background-color: #111433;
    width: 107%;
    height: 109vh;
    position: absolute;
    top: 203px;
    left: -19px;
  }
  .login-btn{
    padding: 10px 125px;
  margin: 34px 19px;
  font-size: 20px;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: #a78627;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  width:300px;


  }
}

@media only screen and (min-width: 401px) and (max-width: 500px){
  #login{
    background-color: #111433;
    width: 105%;
    height: 132vh;
    position: absolute;
    top: 35px;
    left: -19px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 600px){
  #login{
    background-color: #111433;
    width: 104%;
    height: 110vh;
    position: absolute;
    top: 35px;
    left: -19px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 700px){
  #login{
    background-color: #111433;
    width: 103%;
    height: 61vh;
    position: absolute;
    top: 220px;
    left: -19px;
  }
}
/* @media screen and (max-width: 300px) {
#login{
  background-color: #111433;
  width: 198%;
  height: 91vh;
  position: absolute;
  top: 27px;
  left: -19px;
}

} */

/* @media screen and (max-width: 463px) {
  #login{
    background-color: #111433;
      width: 561px;
      height: 75vh;
      position: absolute;
      top: 21px;
  
  }
}

@media screen and (max-width: 480px) {
  #login{
    background-color: #111433;
    width: 110%;
    height: 137vh;
    position: absolute;
    top: 17px;
    left: -19px;
}
}

@media screen and (max-width: 563px) {
  #login{
    background-color: #111433;
      width: 561px;
      height: 75vh;
      position: absolute;
      top: 91px;
  
  }
} */